---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=%E9%A7%86%E3%81%91%E5%87%BA%E3%81%97%E3%82%A8%E3%83%B3%E3%82%B8%E3%83%8B%E3%82%A2
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TwitterConsumerKey>", oauth_nonce="76a0fc705b356280f3cdc67a718aca48",
        oauth_signature="3sRWPcgygOP2l3FkUkKREeK%2B7BU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1584972188", oauth_token="<TwitterAccessToken>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 23 Mar 2020 14:03:08 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - dc2fc2470dc79aadd37d77e52abfc266
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '171'
      X-Rate-Limit-Reset:
      - '1584972275'
      X-Response-Time:
      - '301'
      X-Transaction:
      - 00d371b200ba23b5
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[{"created_at":"Mon Mar 23 14:02:12 +0000 2020","id":1242089267364392962,"id_str":"1242089267364392962","text":"RT
        @kyu_kyu_kyu9: \u5f31\u3005\u30a8\u30f3\u30b8\u30cb\u30a2\u4f1a\n\u30e1\u30f3\u30d0\u30fc\u52df\u96c6\u3057\u3066\u307e\u3059\u30fc\uff01\n\n\u52c9\u5f37\u59cb\u3081\u305f\u3070\u304b\u308a\u306e\u99c6\u3051\u51fa\u3057\u3055\u3093\u304b\u3089\n\u30d9\u30c6\u30e9\u30f3\u3055\u3093\u307e\u3067\u3001\u69d8\u3005\u306a\u65b9\u304c\n\u53c2\u52a0\u3055\u308c\u3066\u307e\u3059\uff01\n\n\u8cea\u554f\u3084\u60c5\u5831\u5171\u6709\u3001\u4ea4\u6d41\u3001\u3082\u304f\u3082\u304f\u4f1a\u306a\u3069\n\u69d8\u3005\u306a\u53d6\u308a\u7d44\u307f\u3084\u30c1\u30e3\u30f3\u30cd\u30eb\u304c\u3042\u308a\u307e\u3059\n\u8ab0\u3067\u3082\u53c2\u52a0\u53ef\u80fd\u3067\u3059\u306e\u3067\n\u3053\u3061\u3089\u304b\u3089\u2026","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"kyu_kyu_kyu9","name":"\u304d\u3085\u304d\u3085","id":1142965940423761921,"id_str":"1142965940423761921","indices":[3,16]}],"urls":[]},"metadata":{"iso_language_code":"ja","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1127513211127848961,"id_str":"1127513211127848961","name":"\u305f\u3051\u308b@\u30d5\u30eb\u30b9\u30bf\u30c3\u30af\u306a\u6a5f\u68b0\u5b66\u7fd2E\u306b","screen_name":"tk_slk_pr","location":"\u4eac\u90fd","description":"\u8fb2\u696d\u3068\u30a8\u30f3\u30b8\u30cb\u30a2\u30ea\u30f3\u30b0\u3067\u98df\u3063\u3066\u3044\u304d\u305f\u3044\u3002
        Rails\u3061\u3087\u3044\u3061\u3087\u3044\/\u6a5f\u68b0\u5b66\u7fd2\u52c9\u5f37\u4e2d
        \u95a2\u897f\u3068\u4e5d\u5dde\u3092\u4e2d\u5fc3\u306b\u50cd\u3044\u3066\u3044\u304d\u305f\u3044
        \u3042\u3063\u305f\u3089\u3044\u3044\u306a\u3092\u5b9f\u73fe\u3067\u304d\u308b\u30a8\u30f3\u30b8\u30cb\u30a2\u306b
        \u95a2\u897f\u306e\u5927\u5b66\u2192","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":109,"friends_count":135,"listed_count":0,"created_at":"Sun
        May 12 09:57:52 +0000 2019","favourites_count":128,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":307,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1210047642341793792\/3O-xAcSK_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1210047642341793792\/3O-xAcSK_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/1127513211127848961\/1570778262","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":true,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Sat
        Mar 21 07:10:48 +0000 2020","id":1241260956589494277,"id_str":"1241260956589494277","text":"\u5f31\u3005\u30a8\u30f3\u30b8\u30cb\u30a2\u4f1a\n\u30e1\u30f3\u30d0\u30fc\u52df\u96c6\u3057\u3066\u307e\u3059\u30fc\uff01\n\n\u52c9\u5f37\u59cb\u3081\u305f\u3070\u304b\u308a\u306e\u99c6\u3051\u51fa\u3057\u3055\u3093\u304b\u3089\n\u30d9\u30c6\u30e9\u30f3\u3055\u3093\u307e\u3067\u3001\u69d8\u3005\u306a\u65b9\u304c\n\u53c2\u52a0\u3055\u308c\u3066\u307e\u3059\uff01\n\n\u8cea\u554f\u3084\u60c5\u5831\u5171\u6709\u3001\u4ea4\u6d41\u3001\u3082\u304f\u3082\u304f\u4f1a\u306a\u3069\n\u69d8\u3005\u306a\u53d6\u308a\u7d44\u307f\u3084\u30c1\u30e3\u30f3\u30cd\u30eb\u304c\u3042\u308a\u307e\u3059\n\u8ab0\u3067\u3082\u53c2\u52a0\u53ef\u80fd\u3067\u3059\u306e\u3067\u2026
        https:\/\/t.co\/U2tfJsQQEu","truncated":true,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/U2tfJsQQEu","expanded_url":"https:\/\/twitter.com\/i\/web\/status\/1241260956589494277","display_url":"twitter.com\/i\/web\/status\/1\u2026","indices":[117,140]}]},"metadata":{"iso_language_code":"ja","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1142965940423761921,"id_str":"1142965940423761921","name":"\u304d\u3085\u3[...]
